// :root {
    // media
    

    // color
    // --accent-color-wrong: $accent-color; 
// }

// media mixin
// @mixin devices ($breakpoint) {
  
//     @if $breakpoint == tablet {    
//     @media (max-width: 768px) {
//       @content;
//     }
//   }
 
//   @if $breakpoint == mobile {
//     @media (max-width: 481px) {
//       @content;
//     }
//   }
// }

// @mixin for-phone {
//     @media (max-width: 481px) { @content; }
// }
// @mixin for-tablet {
//     @media (min-width: 768px) { @content; }
// }

html {
    font-size: 13px;
    // @media (max-width: var(--table-breakpoint)) {
    //     font-size: 12px;
    // }
    // @media (max-width: var(--mobile-breakpoint)) {
    //     font-size: 11px;
    // }
}

.main {
    margin-top: 100px;
    min-height: calc(100vh - 180px);
}

body {
    font-family: 'Lato', sans-serif;
}
.container {
    width: 100%;
    max-width: 1168px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

// custom scroll bar
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #3D4050;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #43ABF0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5fa3d0;
}